extend base

block article 
  form(method="post")
    fieldset.section
      h1 管理用户
      p.stats 当前共有 #{total} 位用户
      table.table
        tr
          th weixin id
          th city 
          th douban
          th silented 
          th active lottery
        each p in people
          tr
            td #{p._id}
            td #{p.city}
            td
              a(target="_blank", href="#{p.douban_url()}") #{p.name}
            td #{p.silented ? 'YES' : 'NO'}
            th #{p.active_lottery}
